@import url(./fonts.css);
:root{
    --light_blue: #9ECDD6;
    --dark-blue: #00A9C8;
    --gray: #878787;
}
html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
.container{
    max-width: 1160px;
    padding: 0 20px;
    margin: 0 auto;
}